<template>

    <div>
      <section class="hero is-primary">
        <div class="hero-body">
        <div class="container">
          <h1 class="title">
            TicTacToe Game
          </h1>
        </div>
        </div>
      </section>


      <div class="tile">

        <div class="tile is-8 is-vertical is-parent">
          <div class="tile is-child box">
            <p class="title">Grid list</p>
            <section>
              <b-field grouped group-multiline>
                <b-select v-model="perPage" :disabled="!isPaginated">
                    <option value="5">5 per page</option>
                    <option value="10">10 per page</option>
                    <option value="20">20 per page</option>
                </b-select>
                <b-button type="is-primary" v-on:click="createGrid" outlined>New grid</b-button>
              </b-field>

              <b-table
                  :data="grid_list"
                  :columns="grid_list_columns"
                  :selected.sync="selected"
                  :paginated="isPaginated"
                  :per-page="perPage"
                  :current-page.sync="currentPage"
                  :pagination-simple="isPaginationSimple"
                  :pagination-position="paginationPosition"
                  :default-sort-direction="defaultSortDirection"
                  default-sort="id"
                  aria-next-label="Next page"
                  aria-previous-label="Previous page"
                  aria-page-label="Page"
                  aria-current-label="Current page"
                  focusable>
              </b-table>
            </section>
          </div>
        </div>

        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="title">Grid <strong v-if="selected">{{ selected.id }}</strong></p>

            <section v-if="selected">
              <b-field>
                  <b-radio-button v-model="player"
                      native-value="x"
                      type="is-primary">
                      <b-icon icon="close"></b-icon>
                  </b-radio-button>

                  <b-radio-button v-model="player"
                      native-value="o"
                      type="is-primary">
                      <b-icon icon="circle"></b-icon>
                  </b-radio-button>
              </b-field>
            </section>

            <section class="section" v-if="selected">
              <div class="columns is-centered has-text-centered is-uppercase">
                  <div id="0" class="column" v-on:click="play">&nbsp;<strong>{{ selected.content[0] }}</strong></div>
                  <div id="1" class="column" v-on:click="play">&nbsp;<strong>{{ selected.content[1] }}</strong></div>
                  <div id="2" class="column" v-on:click="play">&nbsp;<strong>{{ selected.content[2] }}</strong></div>
              </div>
              <div class="columns is-centered has-text-centered is-uppercase">
                  <div id="3" class="column" v-on:click="play">&nbsp;<strong>{{ selected.content[3] }}</strong></div>
                  <div id="4" class="column" v-on:click="play">&nbsp;<strong>{{ selected.content[4] }}</strong></div>
                  <div id="5" class="column" v-on:click="play">&nbsp;<strong>{{ selected.content[5] }}</strong></div>
              </div>
              <div class="columns is-centered has-text-centered is-uppercase">
                  <div id="6" class="column" v-on:click="play">&nbsp;<strong>{{ selected.content[6] }}</strong></div>
                  <div id="7" class="column" v-on:click="play">&nbsp;<strong>{{ selected.content[7] }}</strong></div>
                  <div id="8" class="column" v-on:click="play">&nbsp;<strong>{{ selected.content[8] }}</strong></div>
              </div>
            </section>

          </div>
        </div>
      </div>
    </div>
</template>

<script>

import axios from 'axios';
const url = "###API_URL###";

export default {
  name: 'app',
  data () {
    var grid_list = []
    return {
      selected: grid_list[1],
      grid_list: [],
      player: 'x',
      isPaginated: true,
      isPaginationSimple: false,
      paginationPosition: 'bottom',
      defaultSortDirection: 'desc',
      currentPage: 1,
      perPage: 5,
      grid_list_columns: [
        {
          field: 'id',
          label: 'ID',
          numeric: true,
          sortable: true
        },
        {
          field: 'date_created',
          label: 'Creation date',
          sortable: true
        },
        {
          field: 'date_modified',
          label: 'Last play',
          sortable: true
        },
        {
          field: 'last_player',
          label: 'Last player',
          sortable: true,
          class: 'is-uppercase has-text-centered'
        },
        {
          field: 'winner',
          label: 'Winner',
          sortable: true,
          class: 'is-uppercase has-text-centered'
        }
      ]
    }
  },
  mounted(){
    axios.get(url + 'grids').then(response => {
      this.grid_list = response.data
    })
  },
  methods: {
    createGrid: function () {
      axios.post(url + 'grid').then(response => {
        this.selected = response.data;
      }),
      axios.get(url + 'grids').then(response => {
        this.grid_list = response.data;
      })
    },
    play: function (event){
      axios.put(url + 'grid/' + this.selected.id, {
          mark: this.player,
          square: event.target.id
      }).then(response => {
          this.selected = response.data;
          if (response.data.winner == this.player) {
            this.$toast.open({
              message: 'Nice play, you win !',
              type: 'is-success'
            })
          }
          axios.get(url + 'grids').then(response => {
            this.grid_list = response.data;
          })
      }).catch(error => {
        this.$toast.open({
          message: error.response.data,
          type: 'is-danger'
        })
      })
    }
  }
}
</script>

<style>
.column {
    border: 1px solid #7957d5;
}
</style>
